@import "../../../style/varibles.scss";
@import "../../../style/mixins.scss";

.sidebar-menu {
    background-color: $primary-color-dark;

    &__nav {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .nav {
        &__item {
            cursor: pointer;
            color: $primary-color-dark;
            background-color: $white;
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 20px;
            margin-bottom: 10px;
            font-size: 12px;
            @include smooth-transition(background-color);

            &:hover {
                background-color: $nav-item-hover-color;
            }
        }
    }
}