@import '../../../style/varibles.scss';
@import '../../../style/mixins.scss';

.button {
    height: 100%;
    background-color: $primary-color-dark;
    color: $white;
    border: none;
    border-radius: $border-radius;
    padding: 10px 30px;
    cursor: pointer;
    @include smooth-transition(background-color);

    &:hover {
        background-color: $black;
    }
}