$primary-color: #33667e;
$primary-color-dark: #002233;
$secondary-color: #f3f4f5;
$secondary-color-dark: #e5e9ea;
$white: #fff;
$black: #000;
$black-100: rgba(0,0,0,.14);
$border-radius: 6px;
$box-shadow: 3px 3px 22px 0 $black-100;