$primary-color: #33667e;
$primary-color-dark: #002233;
$secondary-color: #f3f4f5;
$secondary-color-dark: #e5e9ea;
$white: #fff;
$black: #000;
$black-100: rgba(0,0,0,.14);
$error-text-color: rgb(97, 26, 21);
$error-bg-color: rgb(253, 236, 234);
$light-gray: #d6e0e4;
$tag-color: #ebf0f2;

$border-radius: 6px;
$box-shadow: 3px 3px 22px 0 $black-100;
$phone-breakpoint: 640px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;