@import "./style/varibles.scss";

.app {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
    height: 100%;
}
